.layout-wrapper, h1,h2,h3,h4,h5,h6, .w3-wide {
	font-family: "Montserrat", sans-serif;
}
.w3-sidebar a {
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}

.brand { cursor: pointer; }
.brand-img { width: 100%; }

.menu {
	font-weight: bold;
	color: #808080;
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}